body{
  background-color: #599aee;
}

.outer{
 
  height:100vh;
  display: flex;
  justify-content: center;
  
}

.card_holder{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  
  
}

.card{
  height:530px;
  width:350px;
  margin-right: 50px;
  margin-top: 50px;
  background-color:white;
  border-radius: 15px;
  position:relative;
  top:20px;
  left:20px;
  
}

.content {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;;
}

.header{
text-align: center;
}

.footer{
  height:50px;
  width:280px;
  line-height: 40px;
  text-align: center;
  border-radius: 25px;
  margin-left: 15px;
  background-color:#0062E6 ;
  opacity:0.7;  /*#33AEFF #0062E6*/   
}

.buttons{
  text-decoration: none;
  font-weight: bold;
  color: white;
  
}

.subscription{
  opacity:0.3;
  font-weight: bold;
  
}

.price{
  font-weight: bold;
  font-size: 50px;
  margin:0px;
}

.card:hover  {
  margin-top: -1px;
  background-color: white;
  transition: 0.3s;
}

.footer:hover{
  opacity:1;
  color:white;
  background-color:blue;
}

